.footer {
  margin-top: auto;
  margin-bottom: 0;
}

.contact-content {
  background-color: #B6C4B6;
  margin-top: 40px;
  margin-bottom: 35px;
  position: relative;
  padding: 20px;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}

.contact-content h2 {
  align-self: center;
  width: 20vw;
}

.formBox{
  margin-top: 15px;
  margin-bottom: 15px;
}

.formBox input{
  width: 60vw;
}

.formBox textarea {
  width: 61vw;
  border-radius: 8px;
  border: 2px solid black;
}
